{% extends "adminBase.html" %}
{% load i18n %}

{% block head %}

{% endblock %}
{% block body_main %}

<div class="col-lg-10">
    <div class="main-container">
        <div class="row">
            <div id="div_messages">

            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="breadcrumbs">
                            <ul class="breadcrumbs__list">
                                <li class="breadcrumbs__item">MultiLoginBrowsers</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="tanks">
                    </div>
                </div>
                <div class="row">
                    <div class="tanks">
                        
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">

                    </div>
                    <br><br>
                    <div class="col-md-10">
                        <div class="map">
                            <div class="s-table__panel">
                                <a href="" class="s-table__title">Site Map</a>
                            </div>
                            <div class="map__body">
                                <div id="home-map" style="width: 100%; height: 400px;"></div>
                            </div>
                            
                        </div>
                    </div>

                </div>
            </div>


        </div>
    </div>
</div>
{% endblock %}

{% block body_footer %}{% endblock %}