<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
    	<div style="width:80%; margin: auto">
	        <p>Dear {{firstname}},</p>
	        <p>You have made an excellent decision to let us take care of your solar system thereby safeguarding your
                investment. We will be monitoring your solar system every day to help ensure maximum return on investment
                and avoid any costly performance issues.
                </p>
            <p>The following is for your records:</p>
            <h2>1 - Recap of the Terms of Service:</h2>
            <p>1 - MySolarSentinel provides ongoing performance monitoring of your complete Photo
                Voltaic (PV) / Solar system to ensure maximum performance all year round. If we detect an issue that warrants
                further investigation, we will text and email a message to you advising of such. This is on a best effort basis and
                you agree to hold us without liability for this service. 
            </p>
            <p>2 – You understand and agree that we are your agent and we act on your behalf to monitor your PV system. </p>
            <p>3 – You agree to have a monthly preauthorized recurring charge created for this service. If for any reason you
                want to make changes to your service, please email us at <a>payments@mysolarsentinel.com</a>.</p>
            <p>4 – We reserve the right to modify these Terms of Service
                at any time. We will provide updates to you if we do so.</p>
            <h2>2 - Monthly Billing:</h2>
            <p>You will automatically be billed each month on this day for the monthly monitoring service. To make any
                changes to your monthly payment, or if you have any other payment related questions, please email us at
                Payments@MySolarSentinel.com and we will take care of you.
                </p>
            <p>Welcome on board, and thank-you for your business</p>
            <p>Best Regards</p>
            <p>Robert Allen, <br>
            CEO MySolarSentinel</p>

	      
    	</div>
    </body>
</html>
